<!-- Checkbox -->
<h1>Checkbox</h1>
<mat-checkbox
    #showDetails
    [value]=""
    [checked]="isChecked"
    (change)="onChange($event)"
    >Show details</mat-checkbox>


<div *ngIf="showDetails.checked">Some details...</div>

<br><br>

<!-- RADIOBUTTON -->
<h1>Radio Button</h1>
<mat-radio-group value="0">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<br><br>

<!-- DROP DOWN LIST -->
<h1>Drop down list</h1>
<mat-select [(ngModel)]="color">
    <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</mat-option>
</mat-select>

<router-outlet></router-outlet>